.img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.img-arriba {
  padding: 50px;
  width: 50%;
  margin: 4% 0% 5% 2%;
  height: 50px;
}

.text_img-arriba {
  width: 50%;
  justify-items: center;
  margin: 8% 7% 5% 3%;
}

.abajo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.img-abajo {
  margin: 6% 20% 5% 2%;
  width: 25%;
  height: 50px;
  padding: 20px;
}

.text_img-abajo {
  margin: 100px;
  width: 50%;
  align-content: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

/* logo y header */
header {
  height: 150px;
  padding: 50 50px;
  background-color: #795548;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.navBar-mod {
  background-color: #a55c1b;
  background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
}

.nav-mod img {
  height: 150px;
}

.link-mod {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.link-mod:hover {
  color: #a55c1b;
}

/* HTML INDEX  */
.cafeteria-img-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.text-img {
  width: 50%;
  justify-items: center;
  margin: 8% 7% 5% 3%;
}

.text-medio {
  text-align: center;
  padding: 20px;
  margin: 30px;
}

.img-cafeteria {
  padding: 50px;
  width: 70%;
  margin-left: 4%;
}

.galeria {
  display: flex;
  flex-direction: row;
}

.galeria img {
  margin: 2px;
  padding-top: 40px;
  width: 33%;
  height: 100%;
}

/* HTML UBICACION  */
.img-ubi {
  height: 40rem;
  padding: 10px 0 10px 0;
  margin: 10px 0px 10px 0px;
}

.maps {
  padding: 100px 250px;
  margin: 50px;
  height: 35rem;
}

/* HTML CONTACTO  */
.main {
  padding-bottom: 60px;
  margin: 5px;
}

.img-cont {
  display: flex;
  flex-direction: column;
  margin: 5% 5% 5% 0%;
  width: 100%;
  height: 20%;
  font-size: 20px;
}

#contacto {
  margin: 6rem 10% 0rem 10%;
}

#contacto h1 {
  text-align: center;
  margin: 1rem;
}

#contacto p {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formulario form {
  width: 60%;
  margin: 2rem 20%;
}

.formulario form button {
  background-color: #b39975;
  border: none;
  transition: all 2s;
}

.btn {
  margin-top: 1rem;
}

.formulario form button:hover {
  background-color: black;
  transform: scale(1.2);
}

/* ENLACES Y TITULOS */
a {
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 45px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #795548;
  text-align: center;
  margin: 35px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}

/*  FOOTER  */
footer {
  background-color: #0c0c0c;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0.2fr;
  align-items: center;
}

.logo-footer {
  padding: 10px;
  margin: 50px;
  height: 150px;
}

.redes-footer {
  margin: 80px;
  width: 13rem;
  height: 80px;
}

.redes-footer p {
  color: #B5966A;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.redes-footer a i {
  font-size: 34px;
  height: 80px;
  width: 60px;
}

/* RESPONSIVE  */
@media (max-width: 768px) {
  #portada {
    display: flex;
    flex-direction: column;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  #text-inicial {
    display: flex;
    flex-direction: column;
  }
  .cafeteria-img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-cafeteria {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 5% 0%;
    width: 100%;
    height: 100%;
  }
  .text-img {
    margin: 5% 10% 5% 10%;
    text-align: center;
    width: 80%;
  }
  .galeria {
    display: none;
  }
  #portada-nosotros {
    display: flex;
    flex-direction: column;
  }
  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-arriba {
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5% 0%;
    width: 100%;
  }
  .text_img-arriba {
    margin: 50% 10% 5% 8%;
    text-align: center;
    width: 80%;
  }
  .abajo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-abajo {
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5% 0%;
    width: 100%;
  }
  .text_img-abajo {
    margin: 70% 10% 5% 8%;
    text-align: center;
    width: 80%;
  }
  .img-cont {
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5% 0%;
    width: 100%;
  }
}
@media (max-width: 576px) {
  footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .logo-footer {
    justify-self: center;
    margin: 5rem 0rem 0rem 0rem;
  }
  .redes-footer {
    justify-self: center;
  }
}
@media (max-width: 360px) {
  .nav-mod img {
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
