footer {
	background-color: #0c0c0c;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 0.2fr;
	align-items: center;
}


.logo-footer {
	padding: 10px;
	margin: 50px;
	height: 150px;
}

.redes-footer {
	margin: 80px;
	width: 13rem;
	height: 80px;

	p {
		color: #B5966A;
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		font-size: 17px;
		text-align: center;
	}

	a i {
		font-size: 34px;
		height: 80px;
		width: 60px;
	}
}