#sucursales {
    width: 100%;
    margin-bottom: 10rem;
	p {
		font-family: 'Raleway', sans-serif;
		font-size: 1rem;
		text-align: center;
	}
	h2 {
		text-align: center;
		margin: 6rem 1.5rem 4rem 1.5rem;
	}
	h3 {
		text-align: center;
		margin: 1rem;
	}
}

.card-deck {
    margin: 5rem 5% 5rem 5%;
}

.card{
	padding: 60px;
	margin: 20px;
}